body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-file {
    text-align: center;
}

.input-file p {
    margin: 0;
}

.input-file #file-select {
    margin: 5px 0;
    border: 2px gray solid;
    border-radius: 5px;
    padding: 50px 100px;
}

.settings {
    text-align: center;
}

.category-selector-wrapper {
    text-align: left;
    margin: 20px auto 0px;
    width: max-content;
}

.btn-show {
    margin-bottom: 20px;
}

.result table {
    margin: 0 auto;
}

.uploading {
    font-weight: bold;
}